@font-face {
    font-family: "Roboto Light";
}

h1, h2, p, button {
    font-family: "Roboto Light", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 13px;
}

h5 {
    font-size: 10px;
    font-weight: 800;
}

button, p {
    font-size: 9px;
}

span{
    font-family: "Eras Bold ITC",sans-serif;
    font-size: 8px;
    font-weight: 900;
}


