@font-face {
    font-family: "Roboto Light";
}

h1 {
    font-size: 30px;
    font-weight: 800;
}

h2 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

button {
    font-size: 10px;
    font-weight: 800;
}

h5, p {
    font-size: 12px;
}

h2, h4, h5, p {
    font-weight: 900;
}
